.aq-transition-vessel>.scrollup-enter-from,
.aq-transition-vessel>.scrollup-enter-active,
.aq-transition-vessel>.scrollup-enter-to,
.aq-transition-vessel>.scrollup-leave-from,
.aq-transition-vessel>.scrollup-leave-active,
.aq-transition-vessel>.scrollup-leave-to{
  position:var(--cellposition) !important;
}
.aq-transition-vessel>.scrollup-enter-from {
  transform: translateY(100%);
}
.aq-transition-vessel>.scrollup-leave-to {
  transform: translateY(-100%);
}
.aq-transition-vessel>.scrollup-enter-active{
  transition: all var(--enter) var(--entertiming);
}
.aq-transition-vessel>.scrollup-leave-active{
  transition: all var(--leave) var(--leavetiming);
}
/* transition-group */
.aq-transition-group>.container>.scrollup-move,
.aq-transition-group>.container>.scrollup-enter-active{
  transition: all var(--enter) var(--entertiming);
}
.aq-transition-group>.container>.scrollup-leave-active {
  transition: all var(--leave) var(--leavetiming);
}
.aq-transition-group>.container>.scrollup-enter-from{
  opacity: 0;
  transform: translateY(50%);
}
.aq-transition-group>.container>.scrollup-leave-to {
  z-index: 2;
  opacity: 0;
  transform: translateY(50%);
}
.aq-transition-group>.container>.scrollup-leave-active {
  position: absolute;
}